.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background: #1976d2;
    color: #fff;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
  }
  .navbar-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu-icon {
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
  }