.add-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    gap: 10px;
  }
  
  .add-wrap input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 5px;
  }

  .add-wrap input:focus{
    outline: none;
    border: 2px solid rgb(6, 185, 6);
    transition: all 0.2s ease;
}
  
  .add-wrap button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
  }
  