.add-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 80px;
}
.add-container h2 {
  margin-bottom: 10px;
}
.add-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.add-container input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}
.add-container .add-btn {
  padding: 6px 12px;
  background: #1976d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
}

.add-container input:focus{
  outline: none;
}